<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link type="text/css" rel="styleSheet"  href="../../css/shopMng.css" />
</head>
<body>
<div id="shopMng">
    <div class="card">
        <div style="display: block;">
            <div style="font-size:10px;color:#888;">设置店铺名称及头像</div>
        </div>
        <div>
            <input v-model="shopName" value="{{shopName}}"  placeholder="请输入店铺名称"/>
        </div>
        <div class="shopAvatar">
            <img @click="avatarClick" v-bind:src="shopAvatar"/>
            <input accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="shopAvatarChange" type="file" id="shopAvatarInput" style="display: none;"><br/>
        </div>
        <div style="font-size:10px;color:#888;">(点击头像修改)</div>
    </div>

    <div class="card">
        <div style="display: block;">
            <div style="font-size:10px;color:#888;">设置店铺欢迎语</div>
        </div>
        <div>
            <input v-model="wellcomeText" value="{{wellcomeText}}"  placeholder="请输入欢迎语"/>
        </div>
    </div>

    <div class="card">
        <div style="display: block;">
            <div style="font-size:10px;color:#888;">设置店铺顶部Banner</div>
        </div>
        <div class="shopBanner">
            <img @click="shopBannerClick" v-bind:src="shopBanner"/>
            <input accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="shopBannerChange" type="file" id="shopBannerInput" style="display: none;"><br/>
        </div>
        <div style="font-size:10px;color:#888;">(点击Banner修改)</div>
    </div>

    <div class="card">
        <div  style="display: block;">
            <div style="font-size:10px;color:#888;">设置店铺第一部分导航</div>
        </div>
        <div v-for="(item,index) in firstNavList">
            <div>
                <select v-model="item.linkType">
                    <option value="1" >文字</option>
                    <option value="2" >图片</option>
                </select>
            </div>
            <div v-if="item.linkType==1">
                <input v-model="item.text" type="text" placeholder="导航名称" value="item.text" maxlength="5" style="width: 100px;" />
            </div>
            <div v-if="item.linkType==2">
                <div class="navImage">
                    <img v-if="item.img" @click="firstNavImageClick" v-bind:src="item.img"/>
                    <img v-else @click="firstNavImageClick" src="../../images/default-img.png"/>
                    <input  v-bind:data-idx="item.index" accept="image/gif, image/jpeg,image/png,image/jpg" v-on:change="firstNavImageChange" type="file" id="firstNavImageInput" style="display: none;"><br/>
                </div>
            </div>
            <div>
                <select v-model="item.type">
                    <option value="1" >小程序连接</option>
                    <option value="2" >H5连接</option>
                </select>
            </div>
            <div>
                <input v-model="item.url" type="text" placeholder="链接" value="{{item.url}}"  style="width: 200px;" />
            </div>

            <div style="font-size:13px;color:red;">删除</div>
        </div>

        <div  style="display: block;">
            <div style="font-size:13px;color:green;">增加</div>
        </div>

    </div>

</div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../../js/shopMng.js"></script>
</body>
</html>